.container{
    display: flex;
    padding: 30px;
    height: 100vh;
}

.leftSide{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}
.leftSide .image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #ffff;
    width: 250px;
    height: 300px;
    object-fit: contain;
}
.leftSide img{
    width: 150px;
}

.options{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.options span{
    width: 20px;
    text-align: center;
    margin: 0 10px;
    font-weight: 700;
}
.options button{
    background-color:#B43F3F;
    color: #fff;
    border: none;
    font-size: 1.7rem;
    height: 32px;
    width: 32px;
    line-height: 32px;
    padding: 2px;
    border-radius: 8px;
    cursor: pointer;
}
.options .add{
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.rightSide{
    color: #F8EDED;
    height: 60%;
    background-color: #173B45;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.rightSide h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
.rightSide span{
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #F8EDED;
    margin-bottom: 5px;
}
.rightSide p{
    font-size: 1.1rem;
}
.rightSide .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.rightSide .bottom a{
    text-decoration: none;
    color: #F8EDED;
    background-color:#B43F3F ;
    padding: 10px;
    border-radius: 20px;
}
.rightSide button{
    border-radius: 20px;
    border: none;
    transition: all .6s ease;
}
.rightSide button:hover{
    scale: 1.1;
}